/* 
    Created on : 26-Jun-2015, 11:20:10 PM
    Author     : Rene Roberto Ramirez Szabo <rene.szabo@gmail.com>
*/
html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: normal; }

body > header .digitroup-navbar-default {
  background: rgba(0, 0, 0, 0.3);
  border: none; }
body > header .navbar-header .navbar-toggle {
  margin-top: 45px;
  border: none; }
body > header .navbar-header .navbar-brand {
  height: 110px;
  padding-top: 6px;
  padding-bottom: 6px; }
  body > header .navbar-header .navbar-brand img {
    height: 100%; }
body > header #digitroup-menu {
  margin-top: 30px;
  font-weight: 600; }
  body > header #digitroup-menu a {
    color: white;
    margin-left: 10px;
    border: 1px transparent solid;
    border-radius: 5px; }
    body > header #digitroup-menu a:hover {
      border: 1px white solid; }
    body > header #digitroup-menu a.active {
      color: #f88e21;
      border: 1px #f88e21 solid; }

/*TEXT STUFF*/
.digitroup-h1-pacifico {
  font-family: 'Pacifico', sans-serif; }

.digitroup-title {
  font-size: 75px;
  line-height: 75px; }

.digitroup-subtitle {
  font-size: 32px;
  line-height: 32px; }

.digitroup-subtitle-2 {
  font-size: 23px;
  line-height: 23px; }

.digitroup-font-bold {
  font-weight: 600; }

.digitroup-font-color-primary {
  color: #df7507; }

.digitroup-font-shadow {
  -webkit-text-shadow: 1px 1px 1px #000;
  text-shadow: 1px 1px 1px #000; }

/*SECTION STUFF*/
section {
  min-height: 10px;
  padding: 40px 0; }

.digitroup-bg-gray {
  background: #ccc9cd; }
