/* 
    Created on : 26-Jun-2015, 11:20:10 PM
    Author     : Rene Roberto Ramirez Szabo <rene.szabo@gmail.com>
*/
html, body {
  height: 100%; }

body > header .digitroup-navbar-default {
  background: rgba(0, 0, 0, 0.1);
  border: none; }
body > header .navbar-header .navbar-toggle {
  margin-top: 45px;
  border: none; }
body > header .navbar-header .navbar-brand {
  height: 110px;
  padding-top: 6px;
  padding-bottom: 6px; }
  body > header .navbar-header .navbar-brand img {
    height: 100%; }
body > header #digitroup-menu {
  margin-top: 30px; }
  body > header #digitroup-menu a {
    color: white;
    margin-left: 10px;
    border: 1px transparent solid; }
    body > header #digitroup-menu a:hover {
      border: 1px white solid;
      border-radius: 5px; }
